/* Hide vault name */
.nav-folder.mod-root > .nav-folder-title {
	display: none;
}

/* Hide tabs */
.mod-root .workspace-tabs .workspace-tab-header-container {
	display: none;
}

/* Hide sidebar buttons */
.sidebar-toggle-button.mod-right,
.sidebar-toggle-button.mod-left {
	display: none;
}

.mod-macos.is-hidden-frameless:not(.is-popout-window)
	.workspace
	.workspace-tabs.mod-top-right-space
	.workspace-tab-header-container {
	padding-right: 4px;
}

/* Hide ribbon */
.mod-macos.is-hidden-frameless:not(.is-fullscreen):not(.is-popout-window)
	.workspace-tabs.mod-top-left-space
	.workspace-tab-header-container {
	padding-left: calc(var(--frame-left-space) + var(--ribbon-width));
}

.workspace-ribbon.mod-left {
	display: none;
}
.workspace-ribbon.mod-right {
	visibility: hidden;
	position: absolute;
}
.workspace-split.mod-right-split {
	margin-right: 0;
}
.workspace-split.mod-left-split {
	margin-left: 0;
}

/* Hide meta */
.markdown-reading-view .metadata-container {
	display: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
	display: none;
}

/* Hide tooltips */
.tooltip {
	display: none;
}

/* Hide search suggestions */
.suggestion-container.mod-search-suggestion {
	display: none;
}

/* Hide search count flair */
.tree-item-flair:not(.tag-pane-tag-count) {
	display: none;
}

/* Hide instructions */
.prompt-instructions {
	display: none;
}

/* Hide file nav header */
.workspace-leaf-content[data-type="file-explorer"] .nav-header {
	display: none;
}

/* Hide left panel header icons */
.mod-top-left-space .workspace-tab-header-container-inner {
	display: none;
}

/* Hide nav buttons */
.view-header-nav-buttons {
	display: none;
}
/* Obsidian Variables */
body {
	--h1-size: calc(var(--font-text-size) * 1.6);
	--h2-size: calc(var(--font-text-size) * 1.4);
	--h3-size: calc(var(--font-text-size) * 1.2);
	--h4-size: var(--font-text-size);
	--h5-size: var(--font-text-size);
	--h6-size: var(--font-text-size);
	--h1-line-height: 1.7;
	--h2-line-height: 1.7;
	--h3-line-height: 1.7;
	--h4-line-height: 1.7;
	--h5-line-height: 1.7;
	--h6-line-height: 1.7;
	--list-marker-color: var(--text-normal);
	--modal-background: var(--background-secondary);
	--font-text: "Geist Mono";
	--h1-font: "Geist";
	--h2-font: "Geist";
	--h3-font: "Geist";
	--line-height-normal: 1.7;
	--link-decoration: underline;
	--link-unresolved-decoration-color: var(--text-muted);
	--link-external-decoration-color: var(--text-muted);
	--checklist-done-color: rgb(60, 152, 60);
	--checklist-done-decoration: none;
	--checkbox-color: transparent;
	--checkbox-color-hover: transparent;
	--checkbox-marker-color: transparent;
	--divider-color: transparent;
	--workspace-background-translucent: rgba(var(--mono-rgb-0), 0.4);
}

/* Basic Theme Colours */
.theme-light {
	--background-primary: #f7f7f7;
	--background-secondary: #fcfcfc;
	--text-normal: #1a1a1a;
	--text-muted: #b5b3b1;
}

.theme-dark {
	--background-primary: transparent;
	--background-secondary: #141414;
	--text-normal: #ccc;
	--text-muted: #707070;
}
/* Desaturate and fade status bar */
.status-bar {
	filter: saturate(0);
	opacity: 0.5;
	border: none;
}

/* Header padding and letter-spacing */
.cm-header {
	letter-spacing: 0.002em;
}

.HyperMD-header-3 {
	padding-bottom: 0.4em !important;
}

/* Link styling */
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-url,
.cm-underline,
.markdown-source-view.mod-cm6 .cm-underline,
.markdown-source-view.mod-cm6 .is-unresolved .cm-underline {
	text-decoration-style: dotted;
	text-decoration-color: var(--text-muted);
	text-underline-offset: 0.3em;
}

/* Checkbox styling */
input[type="checkbox"] {
	border: 0;
}

input[type="checkbox"]:checked::after,
input[type="checkbox"]:not(:checked)::after {
	-webkit-mask-image: none;
	font-size: var(--font-text-size);
	width: 40px;
	font-family: var(--font-text);
	white-space: nowrap;
	top: -4px;
	left: -8px;
	position: absolute;
	display: block;
}

input[type="checkbox"]:not(:checked)::after {
	content: "[  ]";
	color: var(--text-normal);
}

input[type="checkbox"]:checked::after {
	content: "[x]";
	color: var(--checklist-done-color);
}

/* List item styling */
.list-bullet {
	color: var(--list-marker-color);
}

.list-bullet::after {
	display: none;
}

.markdown-rendered ul.has-list-bullet {
	list-style-type: "- ";
}

.markdown-rendered ul.has-list-bullet > li::marker {
	color: var(--list-marker-color);
}

/* Opaque modal backgrounds */
.prompt {
	background-color: var(--background-secondary);
}

.vertical-tab-content {
	background-color: var(--background-secondary);
}

/* Fix titlebar draggability */
.view-header-title-container {
	-webkit-app-region: drag;
}
